.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}


.textSection {
    height: 50%;
    width: 50%;
}

.textSection p {
    float: left;
}